/*
-----
DEFAULT VARS
-----
*/

:root {

    --IDT-bold: 700;
    --IDT-color: #000;
    --IDT-bgcolor: #fff;
    --IDT-border-color: #fff;
    --IDT-hover-bgcolor: #fff;
    --IDT-hover-border-color: #fff;

}

/*
-----
IDT STRUCTURE
-----
*/

.IDT_error {
    border-radius: 5px;
    display:block;
    padding: 1%;
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
}
.IDT_error_fatal { background-color: #DE745F; }
.IDT_error_warning { background-color: #D1DE5F; }

#IDT_container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid lightblue; /* TODO: Testing CSS */
    padding: 0.5%;
    font-family: 'Roboto', 'Droid Sans Devanagari';

}

#idt_main {

    flex: 5;
    display: block;
    padding: 0.5%;
    border: 1px solid coral; /* TODO: Testing CSS */
    margin-left: 5%;
}

#idt_controls {

    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5%;
    border: 1px solid yellow; /* TODO: Testing CSS */
    margin-left: 1%;
    margin-right: 5%;

}

.IDT_controls_title {

    font-size: 28px;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 1%;
}

.IDT_controls_button {

    border: 1px solid #000;
    background-color: #cccccc;
    border-radius: 5px;
    padding: 5%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;

}

.IDT_controls_button:hover {

    cursor: pointer;
    background-color: darkgrey;
}

.IDT_modal {

    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 0,0,0,0.4 );
    color: #000;

}

.IDT_modal_content {

    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 0 0 10px 10px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;

}

@media (max-width: 850px) {
    .IDT_modal_content {
        width: 90%;
    }
}

.IDT_modal_close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.IDT_modal_close:hover,
.IDT_modal_close:focus {
    color: #444;
    text-decoration: none;
    cursor: pointer;
}

.IDT_modal_header {
    padding: 2px 16px;
    color: #000;
    box-shadow: inset 0 2px #000;
    border-bottom: 1px solid;
    border-color: #444;
    font-family: 'Roboto', 'Droid Sans Devanagari';
    text-align: center;
}

.IDT_modal_body {
    padding: 10px 16px;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#idt_main {

    font-size: 17px;

}

.IDT_title {

    float: right;
    font-weight: 400;
    color: #827E7D;

}

/*
-----
IDT Q&A
-----
*/

.IDT_question, .IDT_leaf {

    display: flex;
    flex-direction: column;
}

.IDT_question_title, .IDT_leaf_text {

    font-weight: 500;
    margin-bottom: 0.5%;

}

.IDT_answer, .IDT_answer_button {

    display: block;
    float: left;
    padding: 5px 15px;
    text-align: center;
    margin: 5px 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: var( --IDT-bgcolor );
    border-color: var( --IDT-border-color );
    border: 1px solid;
    color: #FFF;
    text-decoration: none;

}

.IDT_answer:hover, .IDT_answer_button:hover {

    cursor: pointer;
    background-color: var( --IDT-hover-bgcolor );
    border-color: var( --IDT-hover-border-color );
}

/*
-----
IDT TAGS
-----
*/

.IDT_image {}
.IDT_image_center { display: block; margin: 0 auto; }

.IDT_tag_bold { font-weight: var( --IDT-bold ); }
.IDT_tag_italic { font-style: italic; }
.IDT_tag_underline { text-decoration: underline; }

.IDT_tag_color { color: var( --IDT-color ); }

/*
-----
IDT VISUAL TREE
-----
*/

#IDT_visual_tree_frame {
    padding: 20px;
    font-family: sans-serif;
    position: relative;
    width: 100%;
}

.IDT_vs_title {
    font-size: 22px;
    margin-bottom: 20px;
}

.IDT_vs_canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 50px;
    width: 100%;
}

.IDT_vs_svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: visible;
    z-index: 0;
}

.IDT_vs_node {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.IDT_vs_children {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.IDT_vs_bubble {
    padding: 15px 25px;
    background: #fff;
    border: 2px solid #0077cc;
    border-radius: 25px;
    box-shadow: 0px 3px 8px rgb(0 0 0 / 0.15);
    max-width: 250px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.1s ease-out, background 0.2s;
}

.IDT_vs_bubble:hover {
    background: #eaf6ff;
    transform: scale(1.05);
}

/*
-----
IDT COLLAPSABLE TREE
-----
*/

.IDT_cs_node {
    font-family: monospace;
    white-space: pre;
    cursor: pointer;
    user-select: none;
    padding: 2px 0;
}

.IDT_cs_children {
    margin-left: 20px;
}

.IDT_cs_collapsed > .IDT_cs_children {
    display: none;
}

.IDT_cs_toggle {
    margin-right: 4px;
    color: #888;
}